.head-stripe{margin-bottom: 1em;}
#breadcrumbs {font-size: 16px; margin: 1em 0;}
div.archive-header {margin-bottom: 18px;}
.nf-recents {margin-top: 70px; display: flex; flex-direction: column;}
.nf-recents .ag-fsubmit {align-self: center;}
div.site-logo-wrapper {display: flex;align-items: center;}
#search-social {display: none;}
.site-logo-wrapper .header-search {position: relative;}
.top-search {display: flex;}
.top-search .searchsubmit {display: none;}
.top-search .top-search-form {align-self: center; background-color: #f2f2f2; display: flex; align-items: center;}
.top-search .search-button { cursor: pointer; float: right; font-size: 17px; padding: 0 10px 0 15px; line-height: 18px;}
.top-search .s.field {background: transparent; border: none;}
.newsfeed-ad {margin-bottom: 13px; margin-top: 13px;}
.ag-header-menu > li > a {padding: 5px 7px !important;}
.site-footer .info-links {display: flex;}

.top-news {display: grid; grid-template-columns: 1fr 1fr; gap: 20px; padding-bottom: 40px;}
.top-news-container {flex: 1; display: flex; flex-direction: column;}
.top-news-row {display: grid; grid-template-columns: 1fr 1fr; gap: 20px; flex: 1;}
.top-news-row:not(:first-of-type) {margin-top: 20px;}
.tn-new {display: flex; flex: 1; flex-direction: column; color: #333333; box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);}
.tn-new .tn-new-title {font-size: 20px; font-weight: 700;}
.tn-new .tn-new-txt {padding: 0 5px 5px;}
.tn-new.main .tn-new-title {font-size: 30px;}
.tn-new .tn-new-excerpt {font-size: 20px;}
.tn-new-img {overflow: hidden;}
.tn-new img {transition: all .3s;}
.tn-new:hover img {transform: scale(1.1);}

.pnt-banner-title {font-size: 19px; font-weight: bold; color: #d18b0c; margin-bottom: 8px;}

.embed-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 20px;
 }
 .embed-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 }
 .entry-content .wp-caption {margin-bottom: 20px;}
 #onesignal-popover-dialog {direction: rtl;}
 #onesignal-popover-container #onesignal-popover-dialog .popover-footer {
     margin: .25em 0 0 .25em; display: flex; justify-content: flex-end;
}
 #onesignal-popover-container #onesignal-popover-dialog div.popover-body-message {
    padding: 0 1.286em 0 .2em;
 }
 #onesignal-popover-container #onesignal-popover-dialog .popover-body {
     display: flex;
 }

 .sidebar .sidebar-content {
	 width: 100%;
	 max-width: 250px;
	 box-sizing: content-box;
	 border: 15px solid #e4e3e3;
	 padding: 0 10px;
	 overflow: hidden;
 }
 
 .site-main strong, .site-main b, .site-main .entry-content b, .site-main .entry-content strong, footer b {color: inherit;}
 .site-main .single-post-content {font-weight: 400;}
 .site-main .single-post-content .google-auto-placed.ap_container {margin-bottom: 20px;}
 .entry-content p img {padding: 10px; margin: 0;}
 /* .entry-content p a img {margin-left: 0; margin-right: 0;} */

.pnt-share {display: flex; flex-direction: column; background: rgba(0,152,175,.52); padding: 20px;box-shadow: 0 0 10px 0 #00000070;}
.pnt-share .pnt-title {text-align: center; color: black; font-size: 32px; font-weight: 700; margin: 14px 0;}
.pnt-share .pnt-subtitle {text-align: center; color: black; font-size: 24px; font-weight: 500;}
.pnt-share .wpcf7 {display: flex;direction: inherit; padding: 0 !important; border: none!important;}
.pnt-share .wpcf7 .wpcf7-form {display: flex;width: 100%; flex-direction: column;}
.pnt-share .wpcf7 p {display: none;}
.pnt-share .wpcf7 .contact-column {display: flex;flex-direction: column;align-items: stretch;}
.pnt-share .wpcf7 .contact-column.flex {flex: 1;}
.pnt-share .wpcf7 .contact-row {display: flex;flex-direction: row;justify-content: center;align-items: stretch;}
.pnt-share .wpcf7 .field-wrapper {flex: 1;align-self: stretch;margin-left: 5px;}
.pnt-share .wpcf7 .wpcf7-form-control-wrap {width: 100%;height: 100%;display: flex;flex-direction: column;}
.pnt-share .wpcf7 input:not([type=checkbox]) {width: 100%;border-radius: 3px;font-size: 19px;height: 48px;padding-right: 10px;}
.pnt-share .wpcf7 .wpcf7-list-item {margin-right: 0;margin-top: 10px;font-size: 17px;}
.pnt-share .wpcf7 .btn--primary {border-radius: 3px;padding: 10px 20px;flex: 0;}
.pnt-share .wpcf7 .contact-column.contact-form input {background: white;border: 1px solid black;border-radius: 5px; margin: 0px; font-size: 22px;}
.pnt-share .wpcf7 .contact-column.contact-form .field-wrapper {margin: 10px;}
.pnt-share .wpcf7 .contact-column.contact-form .wpcf7-submit {width: 100%;border-radius: 5px;font-weight: 700; margin-right: 0; cursor: pointer;}
.pnt-share .wpcf7 .wpcf7-response-output {color: black; font-size: 20px; font-weight: 500; margin-top: 0;}

.products_area .product {color: inherit; cursor: pointer; text-decoration: none;}
.products_area .product .inner {color: initial;}

.pnt-affiliates {box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); font-size: 20px;}
.pnt-affiliates .pnt-aff-item td {padding: 8px 10px;}
.pnt-affiliates .pnt-aff-item .pnt-aff-link {background: #981a36; padding: 0 13px;}
.pnt-aff-item .pnt-aff-link a {color: white!important; text-decoration: none; font-weight: 500; padding: 10px;}

div.wpcf7 input[type="url"], div.wpcf7 input[type="email"], div.wpcf7 input[type="tel"] {direction: rtl;}

.ad-size-300x600, .ad-size-300x250 {max-width: 250px!important;}

.pnt-more-title {font-size: 30px; margin-bottom: 25px;}

.product_link {cursor: pointer;}

#bbpress-forums li.bbp-header {
	background: #981a36;
}

.abx-wrapper {display: flex;flex-flow: row wrap; justify-content: center; max-width: 500px;}
.abx-wrapper .abx-img-wrap {width: 150px;height: 150px; overflow: hidden; margin-bottom: 10px;}
.abx-wrapper .abx-img {width: 100%;height: 100%; object-fit: cover;}
.abx-wrapper .abx-txt-wrap {flex: 1; font-size: 16px; line-height: 1.5; padding: 0 10px; min-width: 250px;}
.abx-wrapper .abx-name-link:not(:hover) {text-decoration: none; color: inherit!important;}
.abx-wrapper .abx-name {font-size: 30px; font-weight: 700; line-height: normal;}
.abx-wrapper .abx-contact-wrap {font-size: 25px;}

.pnt-articles .pnt-article:not(:first-of-type) {margin-top: 13px;}
.pnt-articles .pnt-article .wp-post-image {margin-bottom: 0;}
.pnt-articles .pnt-article .pnt-title {font-size: 19px;font-weight: 500;}
.pnt-articles .pnt-article a:not(:hover) {color: inherit;}

.site-footer {color: white;}
.site-footer .textwidget {color: inherit;}
.site-footer .wpcf7 input {max-width: 90%;}
.site-footer .wpcf7 .wpcf7-submit {margin: 20px 0 0;}
.site-footer .widget .tagcloud a {font-weight: 400; font-size: 14px!important;}

.grecaptcha-badge {display: none !important;}

.addtoany_content_bottom .addtoany_header {font-weight: 700;}
.archive-description {font-size: 16px;}
.ag-news-a-wrap {overflow: hidden;}
.pnt-table-wrapper {overflow-y: auto;}

.adsbygoogle, .adsbygoogle * {max-width: 100%;}

input, textarea, button {font-family: inherit}

.image-source-info-wrap .image-source-info a {text-decoration: none; color: white !important;}

.pnt-sticky-footer {position: sticky; bottom: 0; z-index: 990;}

.news-post-block div.entry-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.section-title.latest-posts-section {display: flex;}
 @media (max-width: 1160px) {
	.top-search {
		display: none;
	}
	div.site-logo-wrapper {margin: 10px 0; overflow: hidden;}
	.sidebar {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px;}
	#search-social {display: block;}
	.top-news {grid-template-columns: 1fr; padding: 0 10px;}
	.tn-new.main .tn-new-title {font-size: 22px;}
	.tn-new .tn-new-excerpt {font-size: 18px;}
	.tn-new .tn-new-title {font-size: 20px;}
	.top-news-row {gap: 17px; grid-template-columns: 1fr;}
	.top-news-row:not(:first-of-type) {margin-top: 17px;}
	aside.newsfeed-ad {margin: 0; width: 100%;}

	.pnt-share .pnt-title {font-size: 30px;}
	.pnt-share .pnt-subtitle {font-size: 22px;}
	.pnt-share .wpcf7 .contact-column.contact-form input {margin-bottom: 10px;}
	.pnt-share .wpcf7 .wpcf7-response-output {font-size: 18px; margin-top: 10px;}
	.header-content-wrap.site-branding-fixed div.header-search {left: 50px; display: block;}
	header .header-promo {width: 100%;}
	header .adsbygoogle, .adsbygoogle ins {max-width: 100%!important;}
	.entry-content .adsbygoogle, .entry-content .adsbygoogle ins {margin-right: 0!important; width: 100%!important;}

	.page.has-sidebar .content-area, .single-post.has-sidebar .content-area {
		width: 100%;
	}
	.has-sidebar .content-area {
		margin-left: 15px;
	}
}

@media (max-width: 960px)
{
	body.menu-open {overflow: hidden!important; height: 100vh;}
	.menu-open #site-navigation {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;
		z-index: 1000;
	}
	#site-navigation .ag-mobile-menu li {font-size: 18px; padding: 7px 0;}
	#site-navigation .left-burger {position: static!important;}
	.menu-open #site-navigation .mobile-menu-container {height: calc(100vh - 50px); }
	.menu-open #site-navigation .mobile-menu-container > ul {height: 100%; overflow: auto; padding-bottom: 100px;}
	#back-to-top {bottom: 115px;left: 18px;}
}