/* Print Style Sheet */
@media print {
body { background:white; color:black; margin:0; }
#header {display:none!important; }
#content { }
#comments {display:none!important; }
#sidebar {display:none!important; }
footer { display:none!important;}
.site-branding{border:0;}
.ag-head-ticker,.header-width-wrap,.header-promo,h1.cat-title,#octAccess,.related-posts-section,.related-posts-wrap,.tags-links,.head-stripe{display:none!important;}

}