/* /*
Theme Name: Newspeak Child Theme
Theme URI: http://demo.avantgardia.com/newspeak/
Author: Avantgardia
Author URI: http://avantgardia.com/
Description: Newspeak theme is clean, blog/news focused, and designed for clarity. Newspeak is simple, typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.0.4
License: Commercial
License URI: http://themeforest.net/licenses/regular
Tags: two-columns, three-columns, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, post-formats, sticky-post, threaded-comments, translation-ready
Text Domain: newspeak
Template: newspeak
*/
@import url('../newspeak/style.css');html,body{font-family:Rubik;}#search-social{height:90px;border-bottom:1px solid #dedede;}.header-search{left:auto;right:auto;top:0;bottom:auto;}.site-branding{height:auto;}#search-social .info-links > a{color:#000;border:none;}#search-social .info-links,.header-search-form{margin:30px 5px 30px 0px;}
/*.meta-data-icons{display:grid;display:-ms-grid;grid-template-columns:1fr 1fr;}*/
/*.cat-4{color:#fff;background:#000;padding:2px 5px;}
.cat-4{color:#fff;background:#000;padding:2px 5px;}
.cat-44,.cat-20,.cat-18{color:#fff;background:#f36e1e;padding:2px 5px;}
.cat-17{color:#fff;background:#faca9b;padding:0px 10px;}
.cat-6{color:#fff;background:#3b457e;padding:0px 10px;}
.cat-5{color:#fff;background:#ee567d;padding:0px 10px;}
.cat-61,.cat-30,.cat-16{color:#fff;background:#8647c6;padding:0px 10px;}
.cat-35,.cat-26,.cat-15,.cat-62,.cat-46{color:#fff;background:#919191;padding:0px 10px;}
.cat-55{color:#fff;background:#347fc5;padding:0px 10px;}
.cat-68{color:#fff;background:#004d40;padding:0px 10px;}
.cat-7,.cat-38,.cat-40,.cat-41{color:#fff;background:#45362e;padding:0px 10px;}
.cat-11{color:#fff;background:#5bb257;padding:0px 10px;}
.cat-19{color:#fff;background:#00b5b5;padding:0px 10px;}
.cat-2467{color:#fff;background:#cb2121;padding:0px 10px;font-size:18px!important;margin-bottom:0!important;}*/
.entry-content a{text-decoration:underline;color:#981a36!important;}
.sv{text-align:center;direction:ltr;}
.sv a{display:inline-block;vertical-align:middle;}
.sv img{max-width:5em;}
.footer-widgets-content{right:0;}
.grid-entry-meta .post-category a{color:#981a36;}
.ad-size-300x600,.ad-size-300x250{height:auto!important;}
.ag-news-block-title .cat-title,.ag-news-block-title .cat-title.cat-3201,.ag-news-block-title .cat-title.cat-3187,.ag-news-block-title .cat-title.cat-3208,.ag-news-block-title .cat-title.cat-5734,.ag-news-block-title .cat-title.cat-5734,.ag-news-block-title .cat-title.cat-5734,.ag-news-block-title .cat-title.cat-5734,.category-5742 .archive-title,.ag-news-block-title .cat-title.cat-5742,.ag-news-block-title .cat-title.cat-5739,.ag-news-block-title .cat-title.cat-5737,.ag-news-block-title .cat-title.cat-5732,.ag-news-block-title .cat-title.cat-5709,.ag-news-block-title .cat-title.cat-1{background:#981a36;color:#fff;}
.post-category.cat-5734 a,.post-category.cat-5734 a,.post-category.cat-5742 a,.post-category.cat-5734 a,.post-category.cat-5734 a,.post-category.cat-5734 a,.post-category.cat-5734 a,.post-category.cat-5734 a,.post-category.cat-5739 a,.post-category.cat-5737 a,.post-category.cat-5732 a,.post-category.cat-5737 a,.post-category.cat-5709 a,.post-category.cat-1 a{color:#981a36;}
.category-5671 .archive-title,.ag-news-block-title .cat-title.cat-5671{background:#000;color:#fff;}
.post-category.cat-5671 a,.post-category.cat-5671 a{color:#000;}
.ag-news-block-title .cat-title.cat-2467{background:#cb2121;}
.post-category.cat-2467 a{color:#cb2121;}
.ag-news-block-title .cat-title.cat-5695,.ag-news-block-title .cat-title.cat-5695,.ag-news-block-title .cat-title.cat-5714{background:#ee6e73;}
.post-category.cat-5695 a,.post-category.cat-5695 a,.post-category.cat-5714 a{color:#ee6e73;}
.yt-api-container{text-align:center;}
#vid_frame{max-width:100%;}
.ag-news-block-title .cat-title.cat-5676{background:#a1887f;}
.post-category.cat-5676 a{color:#a1887f;}
.ag-news-block-title .cat-title.cat-2463{background:#F44336;}
.post-category.cat-2463 a{color:#F44336;}
.ag-news-block-title .cat-title.cat-5689{background:#795548;}
.post-category.cat-5689 a{color:#795548;}
.ag-news-block-title .cat-title.cat-5691{background:#3E4651;}
.post-category.cat-5691 a{color:#3E4651;}
.ag-news-block-title .cat-title.cat-5680{background:#827717;}
.post-category.cat-5680 a{color:#827717;}
.ag-news-block-title .cat-title.cat-5673{background:#3b457e;}
.post-category.cat-5673 a{color:#3b457e;}
.ag-news-block-title .cat-title.cat-5697,.ag-news-block-title .cat-title.cat-5697,.ag-news-block-title .cat-title.cat-5697,.ag-news-block-title .cat-title.cat-5728,.ag-news-block-title .cat-title.cat-5683{background:#8647c6;}
.post-category.cat-5697 a,.post-category.cat-5697 a,.post-category.cat-5697 a,.post-category.cat-5728 a,.post-category.cat-5683 a{color:#8647c6;}
.ag-news-block-title .cat-title.cat-5672{background:#ee567d;}
.post-category.cat-5672 a{color:#ee567d;}
.ag-news-block-title .cat-title.cat-5711,.ag-news-block-title .cat-title.cat-5711,.ag-news-block-title .cat-title.cat-5711,.ag-news-block-title .cat-title.cat-5711,.ag-news-block-title .cat-title.cat-5710,.ag-news-block-title .cat-title.cat-5685{background:#f36e1e;}
.post-category.cat-5711 a,.post-category.cat-5711 a,.post-category.cat-5711 a,.post-category.cat-5711 a,.post-category.cat-5710 a,.post-category.cat-5685 a{color:#f36e1e;}
.ag-news-block-title .cat-title.cat-5702,.ag-news-block-title .cat-title.cat-5702,.ag-news-block-title .cat-title.cat-5702,.ag-news-block-title .cat-title.cat-5702,.ag-news-block-title .cat-title.cat-5702,.ag-news-block-title .cat-title.cat-5693,.ag-news-block-title .cat-title.cat-5729,.ag-news-block-title .cat-title.cat-8742{background:#919191;}
.post-category.cat-5702 a,.post-category.cat-5702 a,.post-category.cat-5702 a,.post-category.cat-5702 a,.post-category.cat-5702 a,.post-category.cat-5693 a,.post-category.cat-5729 a,.post-category.cat-8742 a{color:#919191;}
.ag-news-block-title .cat-title.cat-5722,.ag-news-block-title .cat-title.cat-5722,.ag-news-block-title .cat-title.cat-5724,.ag-news-block-title .cat-title.cat-5722,.ag-news-block-title .cat-title.cat-5722,.ag-news-block-title .cat-title.cat-5733,.ag-news-block-title .cat-title.cat-5735{background:#004d40;}
.post-category.cat-5722 a,.post-category.cat-5722 a,.post-category.cat-5722 a,.post-category.cat-5722 a,.post-category.cat-5724 a,.post-category.cat-5733 a,.post-category.cat-5735 a{color:#004d40;}
.ag-news-block-title .cat-title.cat-5674,.ag-news-block-title .cat-title.cat-5674{background:#45362e;}
.cat-title,.cat-title.cat-5734,.cat-title.cat-5734,.cat-title.cat-5734,.cat-title.cat-5734,.cat-title.cat-5734,.cat-title.cat-5734,.cat-title.cat-5734{background:#981a36;color:#fff;}
.post-list-footer.top-posts{font-size:10px;}
.category-5671 .archive-title,.cat-title.cat-5671{background:#000;color:#fff;}
.cat-title.cat-2467{background:#cb2121;}
.tp-caption strong{color:#fff;}
.cat-title.cat-5695,.cat-title.cat-5695,.cat-title.cat-5714{background:#ee6e73;}
.cat-title.cat-5676{background:#a1887f;}
.cat-title.cat-2463{background:#F44336;}
.cat-title.cat-5689{background:#795548;}
.cat-title.cat-5691{background:#3E4651;}
.cat-title.cat-5680{background:#827717;}
.cat-title.cat-5673{background:#3b457e;}
.cat-title.cat-5697,.cat-title.cat-5697,.cat-title.cat-5697{background:#8647c6;}
.cat-title.cat-3144{background:#ee567d;}
.cat-title.cat-5711,.cat-title.cat-5711,.cat-title.cat-5711,.cat-title.cat-5711,.cat-title.cat-5710{background:#f36e1e;}
.cat-title.cat-5702,.cat-title.cat-5702,.cat-title.cat-5702,.cat-title.cat-5702,.cat-title.cat-5702,.cat-title.cat-5693,.cat-title.cat-5729,.cat-title.cat-5693,.cat-title.cat-8742{background:#919191;}
.cat-title.cat-5722,.cat-title.cat-5722,.cat-title.cat-5722,.cat-title.cat-5722,.cat-title.cat-5724,.cat-title.cat-5722,.cat-title.cat-5733{background:#004d40;}
.cat-title.cat-5674,.cat-title.cat-5674{background:#45362e;}
.cat-title.cat-5678{background:#5bb257 ;}
.cat-title.cat-5684{background:#faca9b ;}
.cat-title.cat-5686,.cat-title.cat-5686{background:#00b5b5 ;}
.post-category.cat-5674 a, .post-category.cat-5674 a{color:#45362e;}
.post-category.cat-5678 a{color:#5bb257;}
.ag-news-block-title .cat-title.cat-5678{background:#5bb257 ;}
.post-category.cat-3150 a{color:#5bb257;}
.ag-news-block-title .cat-title.cat-5684{background:#faca9b ;}
.post-category.cat-5684 a{color:#faca9b;}
.ag-news-block-title .cat-title.cat-5686,.ag-news-block-title .cat-title.cat-5686{background:#00b5b5 ;}
.post-category.cat-5686 a,.post-category.cat-5686 a{color:#00b5b5;}
.ag-news-block-title .cat-title.cat-5717,.ag-news-block-title .cat-title.cat-5717{background:#00b5b5 ;}
.post-category.cat-5717 a{color:#bbaa00;}
.post-block-date{display:none!important;}
.ag-news-template-1 .cat-17{color:#fff;background:#981a36;}
.grid-entry-meta a{color:#fff;}
.inner{box-shadow:0 0 10px 0px rgba(0,0,0,0.12);position:relative;}
.inner p{width:90%; margin: 0 auto 2em;}
.inner footer{width:90%; margin: 0 auto;padding-bottom:1em;}
.related-posts-wrap article.post-list{min-height:320px;position:relative;}
.related-posts-wrap article.post-list .news-list-footer{position:absolute;bottom:2%;}
.cat-title{line-height:2;padding:0 10px;width:230px;font-family:Rubik;}
.cat-title a{color:#fff;font-weight:800;font-size:1.25em;line-height:2.6;}
.archive.category .cat-title{font-size:2em;}
.head-stripe{border-bottom: 4px solid #dedede;padding-right:0;margin-bottom:3em;}
.ag-news-filters{text-align:right;}
.block-full .grid-entry-meta{/*position:absolute;left:2%;bottom:2%;*/}
.meta-buttons-wrap{display:block;font-size:1.1em;}
.grid-entry-meta .post-category{float:none!important;}
.ag-header-menu > li.current-menu-item > a{color:#981a36;}
.page-id-797 h1{color:#fff;background:#000;display:inline-block;width:200px;padding-right:30px;padding-top:5px;font-size:24px;}
.nav-links .current, .page-numbers li .current, .post-nav-links span,.post-nav-links a{padding:4px 10px;}
a.next.page-numbers,a.prev.page-numbers{color:#000;background:#f1f1f1;padding:4px 10px;}
a.page-numbers{border:2px solid #f1f1f1;padding:4px 10px!important;}
.site-footer{width:100vw;left:calc(50vw - 50%);background:#252525;}
#sidebar .widget-title{font-size:22px;color:#333333;font-weight:500;margin-bottom:10px;padding-bottom:3px;border-bottom:5px solid #dedede;}
.acf-rpw-title a{font-size:20px;color:#3b3b3b;font-weight:bold;}
time.acf-rpw-time{color:#c2c2c2;padding-right:2%;}
.acf-rpw-li{margin-bottom:25px;}
.post-list-footer, .post-list-footer a{color:#fff;}
.footer-description-text{float:none;text-align:center;font-size:14px;color:#fff;font-family:Rubik;background:#000;padding:10px 0;}
.site-footer .site-info{border-top:none;padding-top:0;}
.header-content-wrap.site-branding-fixed #small-header-logo{display:block;}
.header-content-wrap.site-branding-fixed .header-search{display:none;}
#small-header-logo img{margin-top:20px;}
.newsfeed-ad{width:calc(100% - 40px);margin-bottom:25px;padding-top:0;min-width:250px;}
.site-footer .post-list-media{display:inline-block;}
.site-footer .post-list-media img{display:inline-block;width:auto;}
.site-footer .acf-rpw-title a{color:#fff;font-size:12px;font-weight:normal;}
.site-footer .post-list-content-wrapper,.site-footer .post-list-footer{width:80%;display:inline-block;vertical-align:top;line-height:1;}
.site-footer .widget .list-medium .post-list-header{margin-top:0;}
.site-footer .post-list{box-shadow:none;margin-bottom:15px;}
.site-footer .acf-rpw-li{margin-bottom:0;}
.site-footer h2.widget-title{border:none;color:#fff;font-weight:500;}
.site-footer p{font-size:13px; color:#fff;font-family:Rubik;}
.site-footer .info-links{float:right;}
.site-footer .info-links > a{border:none;color:#fff;}
.site-footer hr{width:40%;margin-right:0;}
.left-burger{float:none!important;left:0;position:absolute!important;top:0;}
.tp-caption a,.tp-caption a:hover,a.tp-caption:hover{color:#fff!important;}
img.minidaf{width:auto;display:block;}
.advert{margin-top:5em;}
p{font-family:Rubik;}
.ag-ss-icon.sfem-share{background-color:#7f1330;}
.ag-ss-icon.sfpr-share{background-color:#333;}
.ag-ss-icon.sfwa-share{background-color:#3ebe2b;}
#menu-popup-menu-1 li{display:inline-block;padding:1em 1em;float:right;border:1px solid;margin:0 1em 1em 0;}
#menu-popup-menu-1 li a{color:#000;font-weight:bold;}
.pum-theme-2064, .pum-theme-default-theme{background:rgba(0,0,0,0.8)!important;}
.pum-close.popmake-close{background-color:#000!important;}
.single-post-author{float:none;}
.single-post-meta, .single-post-meta a{font-size:14px;}
.comment-field{width:50%;}
.comment-form-email {text-align:left;}
.comment-form-email #email{margin-left:0;margin-right:8px;width:calc(100% - 8px);}
.ag-fsubmit, .form-submit #submit,.wpcf7-submit{background:url('btn-bg.png');background-size:cover;margin:0;}
.wpcf7-submit{border:none;outline:none;padding:0.75em 4em;color:#fff;font-weight:500;font-size:1.1em;border-radius:4px;}
.form-submit{text-align:right;}
.nf-form-cont{background:#f0f0f0;padding:1em;}
.nf-error-required-error{display:none;}
.nf-form-cont .one-half{margin-left:0.564103%!important;}
/*lectures page*/
.lecture a{ background: #981a36;color: #fff;font-weight: 500;padding: 0.5em 2em;}
.lecture a:hover{color: #fff!important;}
.screen-reader-text{    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;left:999em;}
.mc4wp-form{text-align:center;}
.mc4wp-form h3{font-size:2em;margin:0.5em 0;}
.mc4wp-form p{margin:0.75em 0;}
.mc4wp-form span{font-size:1.15em;}
.mc4wp-form input[type=email]{width:80%;}
.mc4wp-form input[type=submit]{background:#981a36;color:#fff;border:none;outline:none;border-radius:3px;padding:0.5em;}
.leadform{padding:1em;background:#f0f0f0}
#wpcf7-f2037-p2881-o1 input[type=text],#wpcf7-f2037-p2881-o1 input[type=tel],.leadform input[type=text], .leadform input[type=tel], .leadform input[type=email], .leadform input[type=number]{width:49%;}
#wpcf7-f2037-p2881-o1 input[type=tel]{float:left;}
#wpcf7-f2037-p2881-o1 input[type=email],#wpcf7-f2037-p2881-o1 textarea{width:100%}
#wpcf7-f2037-p2881-o1 textarea{resize:none;height:5em}
#wpcf7-f2037-p2881-o1 textarea, #wpcf7-f2037-p2881-o1 input:not([type=submit]), .leadform input:not([type=submit]){background:#f3f3f3;}
span.wpcf7-not-valid-tip{display:none!important;}
.wpcf7-not-valid{border:1px solid red!important;}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{text-align:center;}
.mc4wp-checkbox{display:none;}
.newsletterform input{width:90%!important;margin-bottom:1em; margin-right:0px !important;}
.entry-content table td{font-style:normal;}
.entry-content table th, .entry-content table td{border:1px solid #ccc;}
.news-list-media img{max-width:100%;width:auto;margin:auto;}
.widget_nav_menu li a{background:transparent;color:#fff;}
.red{color:#8c0e2a}
.site-content.nf{text-align:center;}
.site-content.nf h1{font-weight:400;font-size:20em;}
.site-content.nf img{max-width:100%;}
.site-content.nf h2{font-size:4em;margin-bottom:0.5em;}
.site-content.nf p{font-size:2em;}
.site-content.nf a.ag-fsubmit{margin:2em 0;display:inline-block}
.site-content.nf a.ag-fsubmit:hover{color:#fff!important;}
li h4, li p,li h2, li h3{display:inline-block;width:90%;}
.post-list-media .post-list-date{display:none;}
.redbutton{display:block;background:#981a36;color:#fff;    text-align: center;font-size: 1.5em; height: 2em;line-height: 2;margin-top:1em;}
a.redbutton:hover{color:#fff!important;}
a.blockref{display:block;text-align:left;color:#981a36;}
a.blockref:visited{color:#981a36!important;}
.pretext{font-weight:bold;}
.site-footer{margin:70px 0 0 0;}
.page-template-template-news-builder.has-sidebar .site-content{width:100vw;}
span.img-title {
	font-size:15px; margin: 0 -15px 20px; width: calc(100% + 30px);
    padding-inline-start: 10px; background: #171616; color: white;
}
.post-box-shadow .news-post-block.block-third .entry-title a{overflow:auto;height:unset;}
#octAccess{top:70%!important;}
#octAccess .open{font-size:10px!important;padding:5px!important;}
#octAccess .open, #octAccess .octContainer{background-color:#981a36!important;}
#octAccess a:hover,#octAccess .open a:hover, #octAccess .octContainer a:hover{color:#000!important;}
div.wpcf7{margin-top:1em!important;}
.wpp-date{color:#c2c2c2;}
.post-list-footer .wpp-category a{color:#981a36 !important;}
.ag-news-builder-section.first-section{text-align:left!important;}
.addtoany_list a {
	padding: 0!important;
}
.addtoany_list a span {
	border-radius: 0!important;
}
.addtoany_list a span.a2a_s_facebook {
	background-color: #304f92!important;
}
.addtoany_list a:hover span.a2a_s_facebook {
	background-color: #304f92!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_twitter {
	background-color: #5cb9f6!important;
}
.addtoany_list a:hover span.a2a_s_twitter {
	background-color: #5cb9f6!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_google_plus {
	background-color: #dc554b!important;
}
.addtoany_list a:hover span.a2a_s_google_plus {
	background-color: #dc554b!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_linkedin {
	background-color: #1f81b1!important;
}
.addtoany_list a:hover span.a2a_s_linkedin {
	background-color: #1f81b1!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_pinterest {
	background-color: #c53137!important;
}
.addtoany_list a:hover span.a2a_s_pinterest {
	background-color: #c53137!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_whatsapp {
	background-color: #3ebe2b!important;
}
.addtoany_list a:hover span.a2a_s_whatsapp {
	background-color: #3ebe2b!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_print {
	background-color: #333!important;
}
.addtoany_list a:hover span.a2a_s_print {
	background-color: #333!important;
	opacity: .7;
}
.addtoany_list a span.a2a_s_email {
	background-color: #7f1330!important;
}
.addtoany_list a:hover span.a2a_s_email {
	background-color: #7f1330!important;
	opacity: .7;
}
@media (max-width: 1300px){
	.page-template-template-news-builder.has-sidebar .site-content,.header-width-wrap{max-width:98%!important;}
		.site-footer .post-list-content-wrapper, .site-footer .post-list-footer{width:75%;}
	.footer-widgets .widget{width:24%;padding:25px 0.5% 0}
}
@media (max-width: 960px)
{
    iframe{width:100%!important;}
	.tp-thumbs.inner.gyges.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal{direction:ltr;}
	.k2_video iframe{max-width:100%;height:20em;}
	.site-footer{margin:0;}
	.site-footer .site-content{width:90%;margin:auto;}
	.tp-revslider-mainul iframe{height:25em!important}
	.left-burger a{font-size:1em!important;}
	#menu-popup-menu li{display:inline-block;padding:0.5em 0.5em;float:right;border:1px solid;margin:0 0.5em 0.5em 0;}
	.header-search{left:0;}
	#search-social .info-links{display:none;}
	.header-search-form{margin:10px 0;}
	.header-search .search-button{padding-left:0;}
	#small-header-logo img{margin-top:10px;}
	#search-social{height:7em;}
	#wpcf7-f2037-p2881-o1 input[type=text],#wpcf7-f2037-p2881-o1 input[type=tel]{width:100%;}
	#wpcf7-f2037-p2881-o1 input[type=text]{margin-bottom:20px;}
	#wpcf7-f2037-p2881-o1 input[type=tel]{float:none;}
	.newsletterform input{width:90%!important;margin-bottom:1em; margin-right:0px !important;}
	.site-content.nf h1{font-weight:400;font-size:12em;}
	.site-content.nf h2{font-size:3em;margin-bottom:0.5em;}
	.site-content.nf p{font-size:1.5em;}
	.site-content.nf img{max-width:80%;}
}
@media (max-width: 720px)
{
	.single-post-meta {
	    height: auto;
	    line-height: 24px;
	}
	.single-post-date {
	    display: inline-block;
	    width: auto;
	}
}
@media (max-width: 720px)
{
    table{width:100%!important;font-size:3vw;}
	.block-full .grid-entry-meta{position:relative;}
	.footer-widgets .ag-footer-widgets-count-3 .widget, .footer-widgets .widget{margin-bottom:1em;}
	.post-list-footer{padding:0;}
	.footer-widgets .widget{width:80%;float:none;margin:0 5%;}
	.yt-api-video-list{display:none!important;}
	.addtoany_list a {
		padding: 0 4px!important;
	}
}
@media (max-width: 420px) 
{
}
#page {
    opacity: 1 !important;
    overflow: hidden;
}
.entry-content h2{font-size:30px; font-weight: 500;}
.entry-content h3{font-size: 25px;}
.entry-content h4{font-size: 22px;}

.single-post-content div.wpcf7 {
    margin-top: 1em!important;
    max-width: 100%;     width: 100%;
    float: right;
    padding: 20px;
    border: 1px solid #981936;
        border-radius: 5px;
}
.single-post-content .wpcf7-submit {
    float: left;
        margin-top: 0px;
}
.single-post-content span.formtitle {
    text-align: center;
    display: block;
    float: right;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 1px solid #981936;
    color: #981936;
    font-weight: bold;
        width: 100%;
}

.single-post-content input[type=text], 
.single-post-content input[type=email], 
.single-post-content input[type=tel], 
.single-post-content input[type=password], 
.single-post-content textarea {
    border: 1px solid #b5b5b5;
    padding: 8px 5px;
    max-width: 100%;
    width: 100%;
    float: right;
        margin-bottom: 20px;
}
.single-post-content .wpcf7-submit {
    float: right;
    margin-top: 0px;
    margin: 0 auto !important;
    position: relative;
    margin-right: calc( 50% - 5.1em);
}

.wpcf7-form {
	display: flex;
    flex-direction: column;
}
footer .wpcf7-form {
	color: white;
}