/* rubik-300 - latin_hebrew */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.woff') format('woff'), /* Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-300.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-regular - latin_hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin_hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.woff') format('woff'), /* Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin_hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.woff') format('woff'), /* Modern Browsers */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://www.poenta.co.il/wp-content/themes/newspeak-child/assets/fonts/rubik-v12-latin_hebrew-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }